@model web.Models.ProjectReferencesSubWrapperModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<script src="/js/jquery.bxslider.min.js" type="text/javascript"></script>
<link href="~/css/bxslider.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.referenceSlider').bxSlider({
            pagerCustom: '#bx-pager'
        });
    });
</script>

<div class="main2Left">
    <div class="urunler leftMenu">
        <h2 class="sectionTitle"><span>@SharedRess.SharedStrings.references.ToUpper()</span></h2>
        <ul>
            @foreach (var group in Model.projectreferencegroup)
            {
                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references/@group.PageSlug/@group.ProjectReferenceGroupId">@group.GroupName</a></li>
            }
        </ul>
    </div>
</div>

<div class="main2Right">
    <div class="pagenav">
        <ul>
            <li><a href="/">@SharedRess.SharedStrings.homepage</a></li>
            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>
            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references/@ViewBag.GroupSlug/@Model.reference.ProjectReferenceGroupId" class="last selected">@ViewBag.GroupName</a></li>
        </ul>
    </div>
    <h3 class="pageTitle">@Model.reference.Name</h3>
    <div class="pageContent">
        <div class="partners">
            @Html.Raw(Model.reference.Content)
            @if (Model.photos.Count != 0)
            {
                <div id="referenceSlideContent">
                <ul class="referenceSlider">
                    @foreach (var item in Model.photos)
                    {
                        <li><img src="@item.Path" width="418" height="312" /></li>    
                    }
                </ul>

                <div id="bx-pager">
                    @{int i = 0;}
                    @foreach (var item in Model.photos)
                    {
                        
                    <a data-slide-index="@i" href="">
                        <img src="@item.Path" width="93" height="70" /></a>
                        { i++; }

                    }

                </div>
            </div>
            }
        </div>
    </div>
</div>
