@model IEnumerable<DAL.Entities.Certificate>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<style type="text/css">
    .pageContent img { margin-bottom: 0px;}
</style>
@Html.Partial("_main2Left")
<div class="main2Right">
    <div class="pagenav">
        <ul>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_certificates" class="last selected">@SharedRess.SharedStrings.certificates</a></li>
        </ul>
    </div>
    <h3 class="pageTitle">@SharedRess.SharedStrings.certificates.ToUpper()</h3>
    <div class="pageContent">
        @{ int i = 0; }
        @foreach (var sp in Model)
        {
            i++;
            if (i%3 == 0)
            {
                <div class="productContent lastContent">
                <div class="productImage"><img width="225" height="150" src="@sp.Logo" alt="@sp.CertificateName" /></div>
                <div class="clear">&nbsp;</div>
                <div class="productName">@sp.CertificateName</div>
                @*<div class="productExplain">Line Differential Protection REL350</div>*@
                </div>
            }
            else
            {
                <div class="productContent">
                    <div class="productImage"><img width="225" height="150" src="@sp.Logo" alt="@sp.CertificateName" /></div>
                    <div class="clear">&nbsp;</div>
                    <div class="productName">@sp.CertificateName</div>
                    @*<div class="productExplain">Line Differential Protection REL350</div>*@
                </div>
            }
        }  
    </div>
</div>