@model web.Models.HomePageWrapperModel
@{
    ViewBag.Title = "Eğitim Cihazları";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kontrolmatik | Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

</head>
<body>
    <div class="mainSlider">
        <ul class="bxslider">
            @foreach (var item in Model.photos)
            {
                <li>
                    <img width="1440" height="450" src="@item.Path" />
                    <p>@item.Title</p>
                    <div class="blackBg"></div>
                </li>
            }
        </ul>
    </div>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <img src="/img/logo.png" border="0" /></a>
            <div class="search">
                @{ Html.RenderAction("_search", "FSearch"); }
            </div>
            <ul class="topMenu">
                <li>@Html.ActionLink("TR", "ChangeCulture", "FHome", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
                <li>@Html.ActionLink("EN", "ChangeCulture", "FHome", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails" class="last">@SharedRess.SharedStrings.contact.ToUpper()</a></li>
            </ul>
            <ul class="mainMenu">
                <li class="l1 menuItem"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus</a></li>
                <li class="l2 menuItem"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_services">@SharedRess.SharedStrings.services</a></li>
                <li class="l3 menuItem"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors">@SharedRess.SharedStrings.sectors</a>
                    <div class="menuContent">
                        <h2>@SharedRess.SharedStrings.sectors</h2>
                        @{ int k = 0; }
                        @foreach (var group in Model.sectorgroup)
                        {
                            k++;
                            if (k % 4 != 0)
                            {
                            <div class="sektor">
                                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors/@group.PageSlug/@group.SectorGroupId">@group.GroupName
                                    <img alt="@group.GroupName" src="@group.SectorGroupLogo" style="float:right" />
                                </a>
                            </div>    
                            }
                            else
                            {
                            <div class="sektor last">
                                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors/@group.PageSlug/@group.SectorGroupId">@group.GroupName
                                    <img alt="@group.GroupName" src="@group.SectorGroupLogo" style="float:right" />
                                </a>
                            </div>
                            }
                        }

                    </div>
                </li>
                <li class="l4 menuItem"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products">@SharedRess.SharedStrings.products</a>
                    <div class="menuContent">
                        <h2>@SharedRess.SharedStrings.products</h2>
                        @{ int p = 0; }
                        @foreach (var prd in Model.allproducts)
                        {
                            p++;
                            if (p % 5 == 1)
                            {
                                @(new HtmlString("<ul>"));
                                @(new HtmlString("<li><a href=/" + @SharedRess.SharedStrings.menu_culture + "/" + @SharedRess.SharedStrings.menu_productdetail + "/" + @prd.ProductGroup.PageSlug + "/" + @prd.ProductSubGroup.PageSlug + "/" + @prd.PageSlug + "/" + @prd.ProductId + ">" + prd.Name + "</a></li>"));
                            }
                            else
                            {
                                @(new HtmlString("<li><a href=/" + @SharedRess.SharedStrings.menu_culture + "/" + @SharedRess.SharedStrings.menu_productdetail + "/" + @prd.ProductGroup.PageSlug + "/" + @prd.ProductSubGroup.PageSlug + "/" + @prd.PageSlug + "/" + @prd.ProductId + ">" + prd.Name + "</a></li>"));
                            }

                            if (p % 5 == 0 || p == Model.allproducts.Count())
                            {
                                @(new HtmlString("</ul>"));
                            }
                            
                        }
                    </div>
                </li>
                <li class="l5 menuItem"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="projects">
                <h2 class="sectionTitle"><span>@ProjectsRess.ProjectsStrings.projects.ToUpper()</span></h2>
                @{int i = 0;}
                @foreach (var project in Model.projects)
                {
                    i++;
                    if (i != 4)
                    {
                    <div class="project">
                        <div class="projectImg">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_projects/@project.PageSlug/@project.ProjectId">
                                <img width="235" height="200" src="@project.Logo" /><span> @project.Name</span></a>
                        </div>
                        <p>@project.SubTitle</p>
                    </div>
                    }
                    else
                    {
                    <div class="project last">
                        <div class="projectImg">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_projects/@project.PageSlug/@project.ProjectId">
                                <img width="235" height="200" src="@project.Logo" /><span> @project.Name</span></a>
                        </div>
                        <p>@project.SubTitle</p>
                    </div>
                    }
                }
            </div>
            <div class="biz">
                <h2 class="sectionTitle"><span>@SharedRess.SharedStrings.our.ToUpper()</span></h2>
                <ul>
                    @foreach (var doc in Model.docs)
                    {
                        <li><a href="@doc.DocumentFile">@doc.Name.ToUpper()</a></li>
                    }
                    <li class="last"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_documents/@ViewBag.docgroupSlug/@ViewBag.docgroupid">@SharedRess.SharedStrings.more</a></li>
                </ul>
            </div>
            <div class="bizdenHaberler">
                <h2 class="sectionTitle"><span>BİZDEN HABERLER</span></h2>
                <div id="news" class="slidorion">
                    <div class="slider">
                        @foreach (var newsitem in Model.news)
                        {
                            <div class="slide">
                                <img src="@newsitem.NewsImage" alt="@newsitem.Header" width="235">
                            </div>
                        }


                    </div>

                    <div class="accordion">
                        @foreach (var newsitem in Model.news)
                        {
                            <div class="headers">@newsitem.Header</div>
                            <div class="content">@newsitem.Spot</div>
                        }
                        <a class="allNews" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews">@HomeRess.HomeStrings.allnews</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerLeft">
                <ul>
                    <ul>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_services">@SharedRess.SharedStrings.services</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors">@SharedRess.SharedStrings.sectors</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products">@SharedRess.SharedStrings.products</a></li>
                        <li><a class="last" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>
                    </ul>
                </ul>
                <p>
                    <span>@SharedRess.SharedStrings.address:</span> Tekstilkent Koza Plaza A Blok No:11 Esenler/İSTANBUL<br />
                    <span>@SharedRess.SharedStrings.phone:</span> +90 212 659 24 41 - 438 24 41<br />
                    <span>@SharedRess.SharedStrings.fax:</span> +90 212 659 24 81<br />
                    <span>@SharedRess.SharedStrings.email:</span> info@kontrolmatik.com
                </p>
            </div>
            <div class="footerRight">
                <p>
                    <img src="/img/logoFooter.png" style="margin-bottom: -4px; margin-right: 2px;" />
                    Copyright 2013
                </p>
                <p>Designed and Development <a href="http://www.wortec.net">WORTEC</a></p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/modernizr-2.0.4.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.easing.js" type="text/javascript"></script>
    <script src="~/js/jquery.slidorion.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                captions: true,
                mode: 'fade'
            });
            $(".logo").animate({ top: "0" }, { queue: false, duration: 1000 });
            $(".bxslider").animate({ opacity: "1" }, { queue: false, duration: 2000 });
            $('#news').slidorion({
                speed: 500,
                interval: 6000,
                effect: 'slideLeft'
            });
        });

    </script>
</body>
</html>
