@model IEnumerable<DAL.Entities.SolutionPartner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

@Html.Partial("_main2Left")
<div class="main2Right">
        <div class="pagenav">
          <ul>
            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>
            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus</a></li>
            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_solutionpartners" class="last">@SharedRess.SharedStrings.solutionpartners</a></li>
          </ul>
        </div>
        <h3 class="pageTitle">@SharedRess.SharedStrings.solutionpartners.ToUpper()</h3>
        <div class="pageContent">
          <table cellpadding="0" cellspacing="0" class="partners">
            @foreach (var sp in Model)
            {
                <tr>
                  <td width="250" align="center" valign="top"><img src="@sp.Logo" /></td>
                  <td><h4>@sp.SolutionPartnerName </h4>
                    <p>@sp.Content</p></td>
                </tr>
            }
          </table>
        </div>
      </div>